/* מבנה כולל */
.mobile-frame.volunteer-signup {
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

/* חץ חזרה */
.back-arrow {
  position: absolute;
  top: 20px;
  left: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 999px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 10;
}

.back-arrow img {
  width: 20px;
  height: 20px;
}

/* תוכן */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 18px;
  width: 100%;
}

/* כותרת */
.title {
  font-size: 26px;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* טופס */
.signup-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* תמונת פרופיל */
.profile-upload {
  width: 105px;
  height: 105px;
}

.avatar-wrapper {
  width: 100%;
  height: 100%;
  /*border: 2px solid black;*/
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form input,
.signup-form textarea {
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #C1E5FF;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 42px;
  font-family: 'Arial', sans-serif;
}

.signup-form textarea {
  resize: none;
  min-height: 50px;
  max-height: 120px;
  line-height: 1.4;
}

.signup-form button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #6BB1E4;
  border: none;
  border-radius: 999px;
  color: black;
  margin-top: 5px;
  width: 160px;
  height: 45px;
  cursor: pointer;
}

.logo-bottom {
  width: 40px;
  height: auto;
  margin-top: 20px;
}